---
/**
 * PriceCard Component
 * @param {string} title - The title of the card
 * @param {string} price - The price of the card
 * @param {string} featureHighlight - A highlighted feature of the card
 * @param {string} recurringPrice - The recurring price of the card
 * @param {string} description - A description of the card
 * @param {array} features - An array of features of the card
 * @param {array} featuresInfo - An array of information for each feature
 * @param {string} btnLink - The link for the button
 * @param {string} btnText - The text for the button
 */
import Button from "../buttons/Button.astro";
import InfoIcon from "../buttons/InfoIcon.astro";

const {
  title = "",
  price = "",
  featureHighlight = "",
  recurringPrice = "",
  description = "",
  features = [],
  featuresInfo = [],
  btnLink = "",
  btnText = "Get Started",
  style = "",
} = Astro.props;
---

<article class=`card card-style-${style} fade-in`>
  <div class="card-content">
    <div class="card-header">
      <h2 class="title fade-in">{title}</h2>
      <h3 class="price fade-in">{price}<span class="sub"></span></h3>
      <p class="feature-highlight fade-in">{featureHighlight}</p>
      <p class="recurring-price fade-in">{recurringPrice}</p>
      <p class="description fade-in">{description}</p>
    </div>
    <div class="card-button-group fade-in">
      <Button link={btnLink} text={btnText} variant="full" />
    </div>
    <div class="features">
      <ul class="feature-list">
        {
          features.map((feature: String) => (
            <li class="feature fade-in">
              {feature}
              <InfoIcon info={featuresInfo[features.indexOf(feature)]} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</article>

<style>
  /* Card Styles */
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    background-color: var(--color-white-50);
    padding: 1.4rem;
    max-width: 400px;
    border-radius: 4px;
    box-shadow: 2px 5px 32px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }

  /* Semi transparent card */
  .card-style-glass {
    background-color: rgba(207, 207, 207, 0.3);
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
  }

  /* Slight fix for text blur on zoom - caused by backdrop filter */
  .card-style-glass::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    z-index: -1;
  }
  .card-style-glass:hover {
    transform: scale(1.05);
    /* NOTE: setting to none causes jumpy animation, setting to blur causes blurred text */
    /* backdrop-filter: blur(4px); */
    backdrop-filter: none;
    background-color: rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-color: var(--color-gold-100);
  }



  .card-header {
    min-height: 190px;
    margin-bottom: 2rem;
  }

  .title {
    font-size: var(--font-size-small);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-black-100);
    background-color: var(--color-gold-100);
    border-radius: 4px;
    padding: 0.5rem 0.875rem;
    width: fit-content;
  }

  .price {
    font-size: var(--font-size-h3);
    font-weight: 600;
    color: var(--color-black-100);
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .sub {
    font-size: var(--font-size-h5);
    color: var(--color-black-100);
  }

  .feature-highlight {
    font-size: var(--fonst-size-regular);
    font-weight: 600;
    color: var(--color-black-70);
    margin: 0;
  }

  .recurring-price {
    font-family: var(--font-family-body-thiin);
    font-size: var(--font-size-small);
    color: var(--color-black-100);
    margin: 0;
    margin-top: 0.25rem;
  }

  .description {
    font-size: var(--fonst-size-regular);
    font-family: var(--font-family-body-semi-bold);
    text-wrap: balance;
    color: var(--color-black-100);
    margin-top: 2rem;
  }

  .features {
    margin-top: 2rem;
  }

  .feature-list {
    list-style: none;
    padding: 0;
  }

  .feature {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-small);
    font-family: var(--font-family-body);
    font-weight: 600;
    color: var(--color-black-100);
  }

  .card-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  @media (max-width: 991px) {
    .card {
      max-width: 100%;
    }
  }
</style>
