---
/**
 * Basic Grid component
 * @param props
 * @param {number} columns - The number of columns in the grid
 * @param {number} gap - The gap between grid items
 * @param {string} className - Additional classes to add to the grid
 */

const { columns = 3, gap = 1, className="" } = Astro.props;
---

<div class=`grid grid-col-${columns} grid-gap-${gap} ${className}`>
  <slot />
</div>

<style>
  .grid {
    display: grid;
    position: relative;
    min-width: 100%;
    padding: 0 1rem;
  }

  .grid-col-auto {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .grid-col-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
  }

  .grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
  }

  .grid-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
  }

  .grid-gap-1 {
    gap: 1rem;
  }

  .grid-gap-2 {
    gap: 2rem;
  }

  .grid-gap-3 {
    gap: 3rem;
  }
  @media (max-width: 991px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

</style>
