---
/**
 * Vertical Flexbox container
 * @param {string} align - Align items in the container
 * @param {string} justify - Justify content in the container
 * @param {string} width - The width of the container
 */

const {
  align = "center",
  justify = "center",
  width = "",
} = Astro.props;
---

<div class=`vflex align-${align} justify-${justify} width-${width}`>
  <slot />
</div>

<style>
  .vflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
  }

  .align-start {
    align-items: flex-start;
  }

  .align-end {
    align-items: flex-end;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-around {
    justify-content: space-around;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }

  .align-evenly {
    align-items: stretch;
  }

  .align-between {
    align-items: space-between;
  }

  .align-around {
    align-items: space-around;
  }

  .width-100 {
    width: 100%;
  }

  .width-90 {
    width: 90%;
  }

  .width-80 {
    width: 80%;
  }

  .width-70 {
    width: 70%;
  }

  .width-60 {
    width: 60%;
  }

  .width-50 {
    width: 50%;
  }


</style>
