---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import HeroSectionFull from "../components/HeroSectionFull.astro";
import ProjectSectionFull from "../components/ProjectSectionFull.astro";
import githubIcon from "../assets/github-mark-white.png";
import linkedinIcon from "../assets/LinkedIn_icon.svg";
import Social from "../components/Social.astro";
import Divider from "../components/Divider.astro";
import ContactForm from "../components/ContactForm.astro";
import "../styles/global.css";
// import headshot from "../assets/images/Headshot_2023_small_2.webp";
// import headshot from "../assets/images/Headshot_2024.webp";
import headshot from "../assets/images/Headshot_crop.webp";
import ButtonLink from "../components/ButtonLink.astro";
import emailIcon from "../assets/email_icon.svg";

const pageTitle = "Benjamin Gardiner - Software Engineer";
// const aboutText_1 = [
//   "Greetings! I'm Benjamin Gardiner, an IT graduate with a fervor for technology.",
//   "My journey involves exploring the realms of user experience, design, software engineering, and web development, where I continually evolve my skills to stay at the forefront of innovation.",
// ];
// const aboutText_2 = [
//   "Welcome! I'm Benjamin Gardiner, a digital craftsman on a quest for perfection.",
//   "Armed with a degree in Information Technology, my focus extends to refining user experiences, crafting elegant designs, and mastering the intricacies of software engineering and web development.",
// ];
// const aboutText_3 = [
//   "Hey there! I'm Benjamin Gardiner, a code artisan weaving digital experiences.",
//   "With a Bachelor's in Information Technology, I channel my passion into sculpting seamless user experiences, creating captivating designs, and crafting robust solutions in the realm of web development.",
// ];

// Get all projects
const allProjects = await getCollection("project");
// Order projects by index
allProjects.sort((a, b) => a.data.index - b.data.index);

// Randomise the about text
// const aboutTexts = [aboutText_1, aboutText_2, aboutText_3];
// const randomIndex = Math.floor(Math.random() * aboutTexts.length);
// const aboutText = aboutTexts[randomIndex];
---

<Layout title={pageTitle}>
  <main>
    <HeroSectionFull>
      <h1 class="main-title shakeable fade-in title-black-bg">Hi, I'm Ben.</h1>
      <ButtonLink btnText="Go on..." btnLink="#about" size="large" customClass="scroll-btn"/>
    </HeroSectionFull>
    <Divider />
    <section id="about">
      <h2
        class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
      >
        Profile
      </h2>
      <div class="flex-columns">
        <div class="column">
          <div class="text-box text-box-clamp slide-in-left card shakeable">
            <p class="about-text">
              <strong>High-achieving IT graduate</strong> with a track record of
              academic excellence.
            </p>
          </div>
          <div class="text-box text-box-clamp slide-in-left-d1 card shakeable">
            <p class="about-text">
              <strong>Adept web developer</strong> experienced in creating dynamic
              and responsive websites.
            </p>
          </div>
          <div class="text-box text-box-clamp slide-in-left-d2 card shakeable">
            <p class="about-text">
              <strong>Proactive problem-solver</strong> with a knack for identifying
              innovative solutions to complex challenges.
            </p>
          </div>
          <div class="text-box text-box-clamp slide-in-left-d3 card shakeable">
            <p class="about-text">
              <strong
                >Committed to continuous self-improvement and learning</strong
              >, actively seeking out new challenges to expand my skill set and
              knowledge base.
            </p>
          </div>
        </div>

        <div class="headshot fade-in">
          <img
            class="show-cursor shakeable"
            src={headshot.src}
            alt="Image of Ben"
          />
        </div>
      </div>
      <ButtonLink btnText="I'm listening.." btnLink="#projects" size="large" customClass="scroll-btn"/>
    </section>
    <Divider />
    <!-- Projects Section -->
    <div id="projects">
      <div class="center-title">
        <h2
          class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
        >
          Projects
        </h2>
      </div>
      {
        allProjects.map((project, index) => (
          <ProjectSectionFull
            title={project.data.title}
            info={project.data.info}
            tags={project.data.tags}
            blogLink={project.data.blogLink}
            extLink={project.data.extLink}
            image={project.data.image}
            imgAlt={project.data.imgAlt}
            imgLink={project.data.imgLink}
            reverse={index % 2 === 1}
            nextBtn={index !== allProjects.length - 1}
            prevBtn={index !== 0}
            hidden={index !== 0}
            endBtn={index === allProjects.length - 1}
          />
        ))
      }
    </div>

    <Divider size="full" margin="large" />

    <!-- Contact Section -->
    <div id="contact">
      <section>
        <h2 class="secondary-title show-cursor shakeable slide-in-bottom">
          Contact
        </h2>
        <ContactForm />
      </section>
    </div>

    <style>
      .main-title {
        text-align: left;
        margin-bottom: 2rem;
      }

      .about-text {
        font-size: 1.3rem;
        line-height: 2.2rem;
      }

      .next-project {
        display: flex;
        justify-content: center;
      }

      article p {
        text-align: center;
      }

      @media screen and (max-width: 1100px) {
        .btn-primary {
          font-size: 1rem;
        }

        .headshot {
          width: 100%;
        }
      }
    </style>
  </main>
</Layout>
