---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import HeroSectionFull from "../components/HeroSectionFull.astro";
import ProjectSectionFull from "../components/ProjectSectionFull.astro";
import Divider from "../components/Divider.astro";
import ContactForm from "../components/ContactForm.astro";
import "../styles/global.css";
import headshot from "../assets/images/Headshot_2024_crop_square.webp";
import ButtonLink from "../components/ButtonLink.astro";
import ContactButtons from "../components/ContactButtons.astro";
import ProjectCard from "../components/ProjectCard.astro";

const pageTitle = "Benjamin Gardiner - Software Engineer";

// Get all projects
const allProjects = await getCollection("project");
// Order projects by index
allProjects.sort((a, b) => a.data.index - b.data.index);
---

<Layout title={pageTitle}>
  <main>
    <HeroSectionFull>
      <div class="column left-column">
        <div class="card-black-bg main-title shakeable fade-in">
          <h1 class="">Hi, I'm Ben.</h1>
          <p class="main-text">
            <strong class="main-text-bold">A Software Engineer</strong> with a passion
            for creating innovative and user-friendly web applications.
          </p>
          <ContactButtons align="left" />
        </div>
        <div class="button-group">
          <ButtonLink
            btnText="Read More"
            btnLink="#profile"
            size="large"
            customClass="scroll-btn"
          />
        </div>
      </div>
      <div class="headshot fade-in column">
        <img
          class="show-cursor shakeable"
          src={headshot.src}
          alt="Image of Ben"
        />
      </div>
    </HeroSectionFull>
    <Divider />

    <section id="profile">
      <div class="flex-columns">
        <div class="column left-column">
          <p class="subtitle gap-2">A little about me...</p>
          <h2
            class="secondary-title shakeable slide-in-bottom title-black-bg uppercase gap-2"
          >
            Profile
          </h2>

          <ul
            class="bullet-list text-box text-box-clamp slide-in-left card shakeable gap-2"
          >
            <li
              class="text-box text-box-clamp no-bullet slide-in-left shakeable icon-li fa-2x"
            >
              <i class="bullet-icon fa-solid fa-graduation-cap fa-fw"></i>
              <p class="bullet-text">
                <strong>High-achieving IT graduate</strong> with a track record of
                academic excellence, excelling with a GPA of 6.9 out of 7.
              </p>
            </li>
            <li
              class="text-box text-box-clamp no-bullet slide-in-left-d1 shakeable icon-li fa-2x"
            >
              <i class="bullet-icon fa-solid fa-code fa-fw"></i>
              <p class="bullet-text">
                <strong>Adept in dynamic web development</strong>, experienced
                in creating responsive websites and applications.
              </p>
            </li>
            <li
              class="text-box text-box-clamp slide-in-left-d2 no-bullet shakeable icon-li fa-2x"
            >
              <i class="bullet-icon fa-solid fa-lightbulb fa-fw"></i>

              <p class="bullet-text">
                <strong>Proactive problem-solver</strong> with a knack for identifying
                innovative solutions to complex challenges.
              </p>
            </li>
            <li
              class="text-box text-box-clamp slide-in-left-d3 no-bullet shakeable icon-li fa-2x"
            >
              <i class="bullet-icon fa-solid fa-book fa-fw"></i>
              <p class="bullet-text">
                <strong
                  >Committed to continuous self-improvement and learning</strong
                >, actively seeking out new challenges to expand my skill set
                and knowledge base.
              </p>
            </li>
          </ul>
          <ButtonLink
            btnText="Keep Going..."
            btnLink="#projects"
            size="large"
            customClass="scroll-btn"
          />
        </div>
      </div>
    </section>
    <Divider />
    <section id="projects" >
      <div class="center-title column">
        <h2
          class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
        >
          Projects
        </h2>
      </div>
      <div class="grid-section">
        {
          allProjects.map((project, index) => (
            <ProjectCard
              title={project.data.title}
              content={project.data.info}
              tags={project.data.tags}
              link={project.data.extLink}
              image={project.data.image}
              alt={project.data.imgAlt}
            />
          ))
        }
      </div>
    </section>
    <!-- <div id="projects">
      <div class="center-title">
        <h2
          class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
        >
          Projects
        </h2>
      </div>
      {
        allProjects.map((project, index) => (
          <ProjectSectionFull
            title={project.data.title}
            info={project.data.info}
            tags={project.data.tags}
            blogLink={project.data.blogLink}
            extLink={project.data.extLink}
            image={project.data.image}
            imgAlt={project.data.imgAlt}
            imgLink={project.data.imgLink}
            reverse={index % 2 === 1}
            nextBtn={index !== allProjects.length - 1}
            prevBtn={index !== 0}
            hidden={index !== 0}
            endBtn={index === allProjects.length - 1}
          />
        ))
      }
    </div> -->

    <Divider size="full" />

    <div id="contact">
      <section>
        <h2
          class="secondary-title show-cursor shakeable slide-in-bottom title-black-bg"
        >
          Contact
        </h2>
        <ContactForm />
      </section>
    </div>

    <style>
      .left-column {
        width: 50%;
        padding: 2rem;
      }
      .main-title {
        text-align: left;
        padding: 1rem;
        margin-bottom: 1rem;
      }

      .main-text {
        font-size: var(--font-size-2);
        margin-bottom: 2rem;
      }

      .main-text-bold {
        font-weight: 600;
      }

      #profile {
        align-items: flex-start;
      }

      #projects {
        display: block;
        /* outline: solid blue 2px;hotpink */
        height: 100%;
      }

      .grid-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        /* outline: solid green 2px;hotpink */
      }

      .subtitle {
        font-size: var(--font-size-3);
        font-weight: 600;
        color: var(--accent-gold-dark);
      }

      .about-text {
        font-size: var(--font-size-3);
      }

      article p {
        text-align: center;
      }

      .svg-column {
        width: 50%;
      }

      .fa-column {
        /* font-size: 15rem; */
        color: var(--accent-color);
        margin: 2rem;
      }

      .headshot {
        width: 50%;
        max-width: 500px;
        padding: 2rem;
      }

      .headshot img {
        border: 4px solid var(--primary);
        box-shadow: 6px 6px 0px var(--accent-transparent);
        border-radius: 50%;
        width: 100%;
        /* Initially black and white */
        /* filter: grayscale(100%); */
        transition: all 0.2s ease-in-out;
      }

      .headshot img:hover {
        /* filter: grayscale(0%); */
        box-shadow: 3px 3px 0px var(--accent-color-transparent);
        transform: translate(2px, 2px);
      }

      @media screen and (max-width: 1100px) {
        .left-column {
          width: 100%;
        }
        .btn-primary {
          font-size: 1rem;
        }

        .headshot {
          width: 75%;
        }

        .hero-button-card {
          padding: 0;
        }

        .secondary-title {
          margin-left: auto;
          margin-right: auto;
        }
      }
    </style>
  </main>
</Layout>
