---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import HeroSectionFull from "../components/HeroSectionFull.astro";
import ProjectSectionFull from "../components/ProjectSectionFull.astro";
import Divider from "../components/Divider.astro";
import ContactForm from "../components/ContactForm.astro";
import "../styles/global.css";
import headshot from "../assets/images/Headshot_2024_crop_square.webp";
import ButtonLink from "../components/ButtonLink.astro";
import ContactButtons from "../components/ContactButtons.astro";
import Resume from "../components/Resume.astro";
import arrow8 from "../assets/arrow-8.svg";

const pageTitle = "Benjamin Gardiner - Software Engineer";

// Get all projects
const allProjects = await getCollection("project");
// Order projects by index
allProjects.sort((a, b) => a.data.index - b.data.index);
---

<Layout title={pageTitle}>
  <main>
    <HeroSectionFull>
      <div class="column left-column">
        <div class="card-black-bg main-title shakeable fade-in">
          <h1 class="">Hi, I'm Ben.</h1>
          <p class="main-text">
            <strong class="main-text-bold">A Software Engineer</strong> with a passion
            for creating innovative and user-friendly web applications.
          </p>
          <ContactButtons align="left" />
        </div>
        <div class="button-group">
          <ButtonLink
            btnText="Read More"
            btnLink="#profile"
            size="large"
            customClass="scroll-btn"
          />
        </div>
      </div>
      <div class="headshot fade-in column">
        <img
          class="show-cursor shakeable"
          src={headshot.src}
          alt="Image of Ben"
        />
      </div>
    </HeroSectionFull>
    <Divider />

    <section id="profile">
      <h2
        class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
      >
        Profile
      </h2>
      <div class="flex-columns">
        <div class="column">
          <ul class="bullet-list text-box text-box-clamp slide-in-left card shakeable">
            <li class="text-box text-box-clamp no-bullet slide-in-left shakeable">
              <p class="bullet-text">
                <strong>High-achieving IT graduate</strong> with a track record of academic
                excellence, excelling with a GPA of 6.9 out of 7.
              </p>
            </li>
            <li class="text-box text-box-clamp slide-in-left-d1 no-bullet shakeable">
              <p class="bullet-text">
                <strong>Adept in dynamic web development</strong>, experienced in
                creating dynamic and responsive websites and applications.
              </p>
            </li>
            <li class="text-box text-box-clamp slide-in-left-d2 no-bullet shakeable">
              <p class="bullet-text">
                <strong>Proactive problem-solver</strong> with a knack for identifying
                innovative solutions to complex challenges.
              </p>
            </li>
            <li class="text-box text-box-clamp slide-in-left-d3 no-bullet shakeable">
              <p class="bullet-text">
                <strong>Committed to continuous self-improvement and learning</strong
                >, actively seeking out new challenges to expand my skill set and
                knowledge base.
              </p>
            </li>
          </ul>
        </div>
        {arrow8.src && (
          <img
            class="svg-column slide-in-top"
            src={arrow8.src}
            alt="Decorative arrow"
          />
        )}
        <!-- <svg class="slide-in-right svg-column"  xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 800"><g transform="matrix(-0.48480962024633684,0.874619707139396,-0.874619707139396,-0.48480962024633684,1343.7717309542932,339.07596524277636)"><path d="M796.3803491661405 751.7761454627391C797.8632656549771 748.7796203137285 802.1367466693748 748.7796203137285 803.6196631582113 751.7761454627391L849.5759397595543 844.641771354329C850.9041838586239 847.325720968928 848.9511925350907 850.4712646866698 845.9566866078787 850.4712646866698H754.0433257164732C751.048819789261 850.4712646866698 749.0958284657279 847.325720968928 750.4240725647974 844.641771354329L796.3803491661405 751.7761454627391Z " stroke-width="4" stroke="#2258cb" fill="none" opacity="0.1" transform="rotate(109, 488, 544)"></path><path d="M757.2564189993686 672.8313715035292C759.0359187859725 669.2355413247165 764.1640960032497 669.2355413247165 765.9435957898536 672.8313715035292L821.0911277114652 784.270122573437C822.6850206303487 787.4908621109558 820.341431042109 791.2655145722459 816.7480239294545 791.2655145722459H706.4519908597678C702.8585837471132 791.2655145722459 700.5149941588735 787.4908621109558 702.1088870777569 784.270122573437L757.2564189993686 672.8313715035292Z " stroke-width="5.2" stroke="#3e53c8" fill="none" opacity="0.19" transform="rotate(112.9, 488, 544)"></path><path d="M718.1324888325968 593.8865975443191C720.2085719169679 589.6914623357043 726.1914453371246 589.6914623357043 728.2675284214959 593.8865975443191L792.6063156633761 723.8984737925449C794.4658574020735 727.6560032529835 791.7316695491272 732.059764457822 787.5393612510302 732.059764457822H658.8606560030623C654.6683477049654 732.059764457822 651.9341598520191 727.6560032529835 653.7937015907164 723.8984737925449L718.1324888325968 593.8865975443191Z " stroke-width="6.4" stroke="#514fc5" fill="none" opacity="0.28" transform="rotate(116.8, 488, 544)"></path><path d="M679.0085586658248 514.9418235851092C681.3812250479632 510.14738334669215 688.2187946709995 510.14738334669215 690.591461053138 514.9418235851092L764.1215036152869 663.5268250116529C766.2466941737982 667.8211443950114 763.1219080561452 672.8540143433983 758.3306985726058 672.8540143433983H611.269321146357C606.4781116628176 672.8540143433983 603.3533255451646 667.8211443950114 605.4785161036759 663.5268250116529L679.0085586658248 514.9418235851092Z " stroke-width="7.6" stroke="#604ac2" fill="none" opacity="0.37" transform="rotate(120.7, 488, 544)"></path><path d="M639.8846132402639 435.99704962589914C642.5538629201696 430.60330435768 650.2461287460854 430.60330435768 652.9153784259912 435.99704962589914L735.6366763084087 603.1551762307608C738.027515686734 607.9862855370391 734.5121313043744 613.6482642289743 729.1220206353926 613.6482642289743H563.6779710308625C558.2878603618806 613.6482642289743 554.7724759795211 607.9862855370391 557.1633153578464 603.1551762307608L639.8846132402639 435.99704962589914Z " stroke-width="8.8" stroke="#6d44bf" fill="none" opacity="0.45999999999999996" transform="rotate(124.6, 488, 544)"></path><path d="M600.7606830734919 357.0522756666892C603.726516051165 351.05922536866785 612.2734780799603 351.05922536866785 615.2393110576336 357.0522756666892L707.1518642603196 542.7835274498689C709.8083524584588 548.1514266790668 705.9023698113925 554.4425141145505 699.9133579569683 554.4425141145505H516.0866361741571C510.09762431973286 554.4425141145505 506.1916416726667 548.1514266790668 508.8481298708058 542.7835274498689L600.7606830734919 357.0522756666892Z " stroke-width="10" stroke="#793ebc" fill="none" opacity="0.5499999999999999" transform="rotate(128.5, 488, 544)"></path><path d="M561.6367529067201 278.1075017074793C564.8991691821604 271.5151463796558 574.3008274138353 271.5151463796558 577.5632436892759 278.1075017074793L678.6670522122306 482.4118786689769C681.5891892301836 488.31656782109474 677.2926083184108 495.23676400012664 670.704695278544 495.23676400012664H468.4953013174518C461.9073882775851 495.23676400012664 457.6108073658123 488.31656782109474 460.5329443837653 482.4118786689769L561.6367529067201 278.1075017074793Z " stroke-width="11.2" stroke="#8438b8" fill="none" opacity="0.64" transform="rotate(132.4, 488, 544)"></path><path d="M522.5128227399482 199.16272774826925C526.071822313156 191.9710673906437 536.3281767477104 191.9710673906437 539.8871763209181 199.16272774826925L650.1822401641414 422.04022988808487C653.3700260019084 428.48170896312257 648.6828468254289 436.0310138857028 641.4960326001199 436.0310138857028H420.90396646074646C413.7171522354373 436.0310138857028 409.0299730589579 428.48170896312257 412.21775889672483 422.04022988808487L522.5128227399482 199.16272774826925Z " stroke-width="12.4" stroke="#8e30b5" fill="none" opacity="0.73" transform="rotate(136.3, 488, 544)"></path><path d="M483.3888925731763 120.21796904784833C487.2444754441513 112.42700366042064 498.35552608158525 112.42700366042064 502.2111089525603 120.21796904784833L621.6974281160522 361.6685963659819C625.150862773633 368.64686536393936 620.0730853324469 376.825279030068 612.2873699216955 376.825279030068H373.31263160404103C365.5269161932895 376.825279030068 360.44913875210347 368.64686536393936 363.9025734096843 361.6685963659819L483.3888925731763 120.21796904784833Z " stroke-width="13.6" stroke="#9727b2" fill="none" opacity="0.82" transform="rotate(140.2, 488, 544)"></path><path d="M444.2649471476154 41.27317982984931C448.4171133163577 32.88290941261948 460.38286015667114 32.88290941261948 464.5350263254135 41.27317982984931L593.2126008091741 301.29693232630086C596.931684286569 308.8119912471781 591.4633085806761 317.61951365685513 583.0786919844822 317.61951365685513H325.7212814885466C317.33666489235264 317.61951365685513 311.86828918646 308.8119912471781 315.58737266385475 301.29693232630086L444.2649471476154 41.27317982984931Z " stroke-width="14.799999999999999" stroke="#a01cae" fill="none" opacity="0.9099999999999999" transform="rotate(144.1, 488, 544)"></path><path d="M405.14103223963247 -37.671578870571665C409.58978170614216 -46.66115431760363 422.41022474933516 -46.66115431760363 426.8589742158448 -37.671578870571665L564.727804019874 240.92529880419784C568.7125363170826 248.97714764799503 562.8535623464834 258.41377880122025 553.8700445648469 258.41377880122025H278.1299618906303C269.1464441089938 258.41377880122025 263.2874701383946 248.97714764799503 267.2722024356033 240.92529880419784L405.14103223963247 -37.671578870571665Z " stroke-width="16" stroke="#a800ab" fill="none" opacity="0.9999999999999999" transform="rotate(148, 488, 544)"></path></g></svg> -->
      </div>

      <ButtonLink
        btnText="Keep Going..."
        btnLink="#projects"
        size="large"
        customClass="scroll-btn"
      />
    </section>
    <Divider />
    <div id="projects">
      <div class="center-title">
        <h2
          class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
        >
          Projects
        </h2>
      </div>
      {
        allProjects.map((project, index) => (
          <ProjectSectionFull
            title={project.data.title}
            info={project.data.info}
            tags={project.data.tags}
            blogLink={project.data.blogLink}
            extLink={project.data.extLink}
            image={project.data.image}
            imgAlt={project.data.imgAlt}
            imgLink={project.data.imgLink}
            reverse={index % 2 === 1}
            nextBtn={index !== allProjects.length - 1}
            prevBtn={index !== 0}
            hidden={index !== 0}
            endBtn={index === allProjects.length - 1}
          />
        ))
      }
    </div>

    <Divider size="full" />

    <div id="contact">
      <section>
        <h2
          class="secondary-title show-cursor shakeable slide-in-bottom title-black-bg"
        >
          Contact
        </h2>
        <ContactForm />
      </section>
    </div>

    <Resume />


    <style>
      .left-column {
        width: 50%;
        padding: 2rem;
      }
      .main-title {
        text-align: left;
        padding: 1rem;
        margin-bottom: 1rem;
      }

      .main-text {
        font-size: var(--font-size-2);
        margin-bottom: 2rem;
      }

      .main-text-bold {
        font-weight: 600;
      }

      #profile {
        align-items: flex-start;
      }

      .about-text {
        font-size: var(--font-size-3);
      }

      article p {
        text-align: center;
      }

      .svg-column {
        width: 50%;
      }

      @media screen and (max-width: 1100px) {
        .left-column {
          width: 100%;
        }
        .btn-primary {
          font-size: 1rem;
        }

        .headshot {
          width: 75%;
        }

        .hero-button-card {
          padding: 0;
        }
      }
    </style>
  </main>
</Layout>
