---
import Layout from "../layouts/Layout.astro";
import HeroSectionFull from "../components/HeroSectionFull.astro";
import ProjectSection from "../components/ProjectSection.astro";
import githubIcon from "../assets/github-mark-white.png";
import linkedinIcon from "../assets/LinkedIn_icon.svg";
import Social from "../components/Social.astro";
import Divider from "../components/Divider.astro";
import ContactForm from "../components/ContactForm.astro";
import "../styles/global.css";
import headshot from "../assets/images/Headshot_2023_small.webp";
import ButtonLink from "../components/ButtonLink.astro";
import emailIcon from "../assets/email_icon.svg";

const pageTitle = "Benjamin Gardiner - Software Engineer";
const aboutText_1 = [
  "Greetings! I'm Benjamin Gardiner, an IT graduate with a fervor for technology.",
  "My journey involves exploring the realms of user experience, design, software engineering, and web development, where I continually evolve my skills to stay at the forefront of innovation.",
];
const aboutText_2 = [
  "Welcome! I'm Benjamin Gardiner, a digital craftsman on a quest for perfection.",
  "Armed with a degree in Information Technology, my focus extends to refining user experiences, crafting elegant designs, and mastering the intricacies of software engineering and web development.",
];
const aboutText_3 = [
  "Hey there! I'm Benjamin Gardiner, a code artisan weaving digital experiences.",
  "With a Bachelor's in Information Technology, I channel my passion into sculpting seamless user experiences, creating captivating designs, and crafting robust solutions in the realm of web development.",
];

const allProjects = await Astro.glob("../pages/projects/*.md");

// Randomise the about text
const aboutTexts = [aboutText_1, aboutText_2, aboutText_3];
const randomIndex = Math.floor(Math.random() * aboutTexts.length);
const aboutText = aboutTexts[randomIndex];
---

<Layout title={pageTitle}>
  <main>
    <HeroSectionFull>
      <h1 class="main-title show-cursor shakeable fade-in">
        Hi,<br />I'm Ben.
      </h1>
      <ButtonLink btnText="Learn More" btnLink="#about" size="large" />
    </HeroSectionFull>
    <Divider />
    <section id="about">
      <h2 class="secondary-title show-cursor shakeable slide-in-bottom">
        About Ben
      </h2>
      <div class="flex-columns">
        <div class="text-box text-box-clamp fade-in card shakeable">
          <p class="about-text">
            {aboutText[0]}<br /><br />{aboutText[1]}
          </p>
          <div class="button-group">
            <Social
              icon={githubIcon}
              invertHover={true}
              platform="GitHub"
              username="bbgard"
            />
            <ButtonLink btnText="Projects" btnLink="#projects" size="large" />
            <Social
              icon={linkedinIcon}
              platform="LinkedIn"
              username="in/benjamin-gardiner-6b8478263/"
            />
          </div>
        </div>
        <div class="headshot fade-in">
          <img
            class="show-cursor shakeable"
            src={headshot.src}
            alt="Image of Ben"
          />
        </div>
      </div>
    </section>
    <Divider />
    <!-- Projects Section -->
    <div id="projects">
      <h2 class="secondary-title show-cursor shakeable slide-in-bottom">
        Projects
      </h2>

      {
        allProjects.map((project, index) => (
          <ProjectSection
            title={project.frontmatter.title}
            info={project.frontmatter.info}
            tags={project.frontmatter.tags}
            blogLink={project.frontmatter.blogLink}
            extLink={project.frontmatter.extLink}
            image={project.frontmatter.image}
            reverse={index % 2 === 1}
            nextBtn={true}
          />
        ))
      }
      <article class="card card-center shakeable slide-in-bottom">
        <h3 class="title">More Projects</h3>
        <p>For more projects, check out my GitHub!</p>
        <div class="butotn-group">
          <Social
            icon={githubIcon}
            invertHover={true}
            platform="GitHub"
            username="bbgard"
            size="full"
          />
          <ButtonLink
            btnText="Contact"
            btnLink="#contact"
            size="full"
            icon={emailIcon.src}
            invert={true}
            invertHover={true}
          />
        </div>
      </article>
    </div>

    <Divider size="full" margin="large" />

    <!-- Contact Section -->
    <div id="contact">
      <section>
        <h2 class="secondary-title show-cursor shakeable slide-in-bottom">
          Contact
        </h2>
        <ContactForm />
      </section>
    </div>

    <style>
      .main-title {
        text-align: left;
        margin-bottom: 2rem;
      }

      .about-text {
        font-size: 1.3rem;
        line-height: 2.2rem;
      }

      .next-project {
        display: flex;
        justify-content: center;
      }

      @media screen and (max-width: 768px) {
        .btn-primary {
          font-size: 1rem;
        }

        .headshot {
          width: 100%;
        }
      }
    </style>
  </main>
</Layout>
