---
import ButtonLink from './ButtonLink.astro';
interface Props {
  title?: string;
  info?: string;
  tags?: string[];
  blogLink?: string;
  extLink?: string;
  nextBtn?: boolean;
}


const {
  title = "",
  info = "",
  tags = [],
  blogLink,
  extLink,
  nextBtn = false,
} = Astro.props;

const formattedinfo = info.split("\n");
---

<div class="cards">
  <article class="card shakeable">
    {
      tags ? (
        <div class="tags">
          {tags.map((tag) => (
            <a class="tag" href={`/tags/${tag.toLowerCase()}`}>
              {tag}
            </a>
          ))}
        </div>
      ) : null
    }
    <h3 class="title">{title}</h3>
    <!-- <p class="info">{info}</p> -->
    <!-- <p class="info">{formattedinfo}</p> -->
    {formattedinfo.map(info => <p class="info">{info}</p>)}
    <div class="card-button-group">
    {blogLink ? (
      // <button class="btn card-btn" onclick={`window.open('${blogLink}', '_blank')`}>
      //   dev.log
      // </button>
      <ButtonLink
        btnText='dev.log'
        btnLink={blogLink}
        btnTarget='_blank'
      />
    ) : null
    }
    {extLink ? (
      // <button class="btn card-btn" onclick={`window.open('${extLink}', '_blank')`}>
      //  Visit
      // </button>
      <ButtonLink
        btnText='Visit'
        btnLink={extLink}
        btnTarget='_blank'
      />
    ) : null}
    {nextBtn ? (
      // <button class="btn card-btn next-btn">
      //  Next
      // </button>
      <ButtonLink
        btnText='Next'
        btnTarget='_self'
        customClass='next-btn'
      />
    ) : null}
    </div>
  </article>
</div>


<!--
<style>


</style> -->
