---
interface Props {
  title?: string;
  info?: string;
  tags?: string[];
  blogLink?: string;
  extLink?: string;
}


const {
  title = "",
  info = "",
  tags = [],
  blogLink,
  extLink,
} = Astro.props;

---

<div class="cards">
  <article class="card shakeable">
    {
      tags ? (
        <div class="tags">
          {tags.map((tag) => (
            <a class="tag" href={`/tags/${tag.toLowerCase()}`}>
              {tag}
            </a>
          ))}
        </div>
      ) : null
    }
    <h3 class="title">{title}</h3>
    <p class="info">{info}</p>
    {blogLink ? (
      <button class="btn card-btn" onclick={`window.open('${blogLink}', '_blank')`}>
        Read More
      </button>
    ) : null
    }
    {extLink ? (
      <button class="btn card-btn" onclick={`window.open('${extLink}', '_blank')`}>
       Check it Out
      </button>
    ) : null}
  </article>
</div>


<!--
<style>


</style> -->
