---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

const header = {
  links: [
    { text: "About", url: "/#about" },
    { text: "Projects", url: "/#projects" },
    { text: "Contact", url: "/#contact" },
  ],
};
---

<header>
  <SkipLinks />
  <Navigation>
      <li class="menu-item">
        <a href={header.links[0].url}>{header.links[0].text}</a>
      </li>
      <li class="menu-item">
        <a href={header.links[1].url}>{header.links[1].text}</a>
      </li>
      <li class="menu-item">
        <a href={header.links[2].url}>{header.links[2].text}</a>
      </li>

    <li class="menu-item type-icon navigation-icon">
      <a href="https://github.com/bbgard" rel="external" target="_blank" title="Go to Ben's GitHub page">
        <Icon name="ion:logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          // fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
