---

const Navbar = {
  logo: "/path/to/logo.png",
  links: [
    { text: "About", url: "#about" },
    { text: "Projects", url: "#projects" },
    { text: "Contact", url: "#contact" },
    { text: "AboutPage", url: "/about" },
    { text: "BlogPage", url: "/blog" },
  ],
};

---

<nav class="navbar">
  <div class="logo">
    <!-- <img src={Navbar.logo} alt="Logo" /> -->
    <a class="logo-text" href="/">Benjamin Gardiner</a>
  </div>

  <ul class="nav-links">
    <li>
      <a href={Navbar.links[0].url}>{Navbar.links[0].text}</a>
    </li>
    <li>
      <a href={Navbar.links[1].url}>{Navbar.links[1].text}</a>
    </li>
    <li>
      <a href={Navbar.links[2].url}>{Navbar.links[2].text}</a>
    </li>
    <!-- <li>
      <a href={Navbar.links[3].url}>{Navbar.links[3].text}</a>
    </li>
    <li>
      <a href={Navbar.links[4].url}>{Navbar.links[4].text}</a>
    </li> -->
  </ul>

</nav>
<div class="nav-divider" />
