---
import Card from "./Card.astro";
import { Image } from 'astro:assets';
// import { getCollection } from 'astro:content';

/**
 * @name ProjectSection
 * @desc A simple component to display a Card component and an image side by side.
 * @param {string} title - The title of the component.
 * @param {boolean} reverse - Whether to reverse the order of the image and text.
 * @param {string} info - The text to display.
 * @param {string[]} tags - An array of tags to display.
 * @param {string} blogLink - The link to the blog post.
 * @param {string} extLink - The link to an external site.

 * @param {string} image.src - The image source.
 * @param {string} image.alt - The image alt text.
 * @param {string} image.link - The image link.
 * @param {boolean} nextBtn - Whether to show a next button.
 */
interface Props {
  title?: string;
  info?: string;
  tags?: string[];
  blogLink?: string;
  extLink?: string;
  reverse?: boolean;
  nextBtn?: boolean;
  image: {src?: string; width?: number; height?: number; format?: "avif" | "png" | "webp" | "jpeg" | "jpg" | "svg" | "tiff" | "gif"; };
  // image?: {
  //   src: string;
  //   alt: string;
  //   link: string;
  // };
}

const {
  title = "",
  info = "",
  tags = [],
  blogLink = "",
  extLink = "",
  reverse = false,
  nextBtn = false,
  image = {
    src: "",
    width: 0,
    height: 0,
    format: "webp",
  }
  // image = {
  //   src: "",
  //   alt: "",
  //   link: "",
  // },
} = Astro.props;

// Find all blog posts
// const allBlogPosts = await getCollection('blog');

// // Find this blog post
// const thisBlogPost = allBlogPosts.find((post) => post.data.title === title);
// const myImage = import(image.src);
const allImages = await Astro.glob('../assets/images/*.webp');
// console.log(allImages);
const projectImage = allImages.find((img) => img.default.src.includes(image.src));
---

<section class="project-section">
  <div class={reverse ? "flex-columns-reverse" : "flex-columns"}>
    <div
      class={reverse
        ? "fade-in text-box text-box-reverse"
        : "fade-in text-box"}
    >
      <Card
        title={title}
        info={info}
        tags={tags}
        blogLink={blogLink}
        extLink={extLink}
        nextBtn={nextBtn}
      />
    </div>
    <a
      class="fade-in image-box"
      href={""}
      target="_blank"
    >
    <!-- <Image src={myImage} alt="" width="907" height="537" format="webp"/> -->
    <img src={projectImage.src} alt="" width={image.width} height={image.height}/>
    <!-- <Image src={import(image.src)} alt={""} format="webp"/> -->

      <!-- <img
        class="fade-in"
        src={image.src}
        alt={image.alt}
      /> -->
      <!-- <Image src={myImage} alt={image.alt} format="webp"/> -->
    </a>
  </div>
</section>
