---
import Card from "./Card.astro";
import { Image } from 'astro:assets';

/**
 * @name ProjectSection
 * @desc A simple component to display a Card component and an image side by side.
 * @param {string} title - The title of the component.
 * @param {boolean} reverse - Whether to reverse the order of the image and text.
 * @param {string} info - The text to display.
 * @param {string[]} tags - An array of tags to display.
 * @param {string} blogLink - The link to the blog post.
 * @param {string} extLink - The link to an external site.
 * @param {object} image - An object containing the image details.
 * @param {string} image.src - The image source.
 * @param {string} image.alt - The image alt text.
 * @param {string} image.link - The image link.
 * @param {boolean} nextBtn - Whether to show a next button.
 */
interface Props {
  title?: string;
  info?: string;
  tags?: string[];
  blogLink?: string;
  extLink?: string;
  reverse?: boolean;
  nextBtn?: boolean;
  image?: {
    src: string;
    alt: string;
    link: string;
  };
}

const {
  title = "",
  info = "",
  tags = [],
  blogLink = "",
  extLink = "",
  reverse = false,
  nextBtn = false,
  image = {
    src: "",
    alt: "",
    link: "",
  },
} = Astro.props;

---

<section class="project-section">
  <div class={reverse ? "flex-columns-reverse" : "flex-columns"}>
    <div
      class={reverse
        ? "fade-in text-box text-box-reverse"
        : "fade-in text-box"}
    >
      <Card
        title={title}
        info={info}
        tags={tags}
        blogLink={blogLink}
        extLink={extLink}
        nextBtn={nextBtn}
      />
    </div>
    <a
      class="fade-in image-box"
      href={image.link}
      target="_blank"
    >
      <!-- <img
        class="fade-in"
        src={image.src}
        alt={image.alt}
      /> -->
      <!-- <Image src={myImage} alt={image.alt} format="webp"/> -->
    </a>
  </div>
</section>
