---
interface Props {
  // The image to display on the card.
  image?: {
    src?: string;
    width?: number;
    height?: number;
    format?: "avif" | "png" | "webp" | "jpeg" | "jpg" | "svg" | "tiff" | "gif";
  };

  // The alt text of the image.
  alt: string;

  // The title of the card.
  title: string;

  // The description of the card.
  content: string;

  // The tags of the card.
  tags?: string[];

  // Link to the project
  link: string;
}

const {
  image = {
    src: "https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80",
    width: 200,
    height: 200,
    format: "jpg",
  },
  alt = "A kitten sits patiently between a terracotta pot and decorative grasses.",
  title = "Mittens",
  content = "This kitten is as cute as he is playful. Bring him home today!",
  tags = ["kitten", "playful", "adorable"],
  link = "https://example.com",
} = Astro.props;

// This is a hackey solution, but it works for now.
// Grab all image files
const allImages = await Astro.glob("../assets/images/*.webp");

// Find the image file that matches the image prop
const projectImage = allImages.find((img) =>
  img.default.src.includes(image.src)
);

console.log("Image", projectImage);
---

<sl-card class="card-overview">
  <a class="fade-in image-box project-image" href={link} target="_blank">
    <img
      src={projectImage.default.src}
      alt={alt}
      width={projectImage.default.width}
      height={projectImage.default.height}
    />
  </a>

  <div class="card-content">
    <strong>{title}</strong><br />
    {content}<br />
  </div>

  <div slot="footer">
    <sl-button variant="primary" pill>Visit</sl-button>
    <sl-button variant="primary" pill>Next</sl-button>
  </div>
</sl-card>

<style>
  .card-overview {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    outline: solid hotpink 2px;
  }

  .card-overview [slot="footer"] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .card-content {
    flex-grow: 1;
  }

  .project-image {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .project-image img {
    display: block;
    width: auto;
    max-height: 300px;
    margin: 0 auto;
  }
</style>
