---
import Card from "./Card.astro";

/**
 * @name ProjectSection
 * @desc A simple component to display a Card component and an image side by side.
 * @param {string} title - The title of the component.
 * @param {boolean} reverse - Whether to reverse the order of the image and text.
 * @param {string} info - The text to display.
 * @param {string[]} tags - An array of tags to display.
 * @param {string} blogLink - The link to the blog post.
 * @param {string} extLink - The link to an external site.
 * @param {string} image - The image to display.
 * @param {string} imgAlt - The image alt text.
 * @param {string} imgLink - The image link.
 * @param {boolean} nextBtn - Whether to show a next button.
 */
interface Props {
  title?: string;
  info?: string;
  tags?: string[];
  blogLink?: string;
  extLink?: string;
  reverse?: boolean;
  nextBtn?: boolean;
  image?: {src?: string; width?: number; height?: number; format?: "avif" | "png" | "webp" | "jpeg" | "jpg" | "svg" | "tiff" | "gif"; };
  imgAlt?: string;
  imgLink?: string;
}

const {
  title = "",
  info = "",
  tags = [],
  blogLink = "",
  extLink = "",
  reverse = false,
  nextBtn = false,
  image = {
    src: "",
    width: 0,
    height: 0,
    format: "webp",
  },
  imgAlt = "",
  imgLink = "",
} = Astro.props;


// This is a hackey solution, but it works for now.
// Grab all image files
const allImages = await Astro.glob('../assets/images/*.webp');

// Find the image file that matches the image prop
const projectImage = allImages.find((img) => img.default.src.includes(image.src));
---

<section class="project-section">
  <div class={reverse ? "flex-columns-reverse" : "flex-columns"}>
    <div
      class={reverse
        ? "fade-in text-box text-box-reverse"
        : "fade-in text-box"}
    >
      <Card
        title={title}
        info={info}
        tags={tags}
        blogLink={blogLink}
        extLink={extLink}
        nextBtn={nextBtn}
      />
    </div>
    <a
      class="fade-in image-box"
      href={imgLink}
      target="_blank"
    >
    <img src={projectImage.default.src} alt={imgAlt} width={projectImage.default.width} height={projectImage.default.height}/>
    </a>
  </div>
</section>
