---
/**
 * Resume section designed to look like a Google doc
 */
import { getCollection } from "astro:content";
import ProjectSectionPage from "./ProjectSectionPage.astro";
// Get all projects
const allProjects = await getCollection("project");
// Order projects by index
allProjects.sort((a, b) => a.data.index - b.data.index);
---

<div class="resume-container">
  <section id="profile">
    <h2
      class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
    >
      Profile
    </h2>
    <ul class="bullet-list">
      <li class="text-box text-box-clamp no-bullet slide-in-left shakeable">
        <p class="bullet-text">
          <strong>High-achieving IT graduate</strong> with a track record of academic
          excellence, excelling with a GPA of 6.9 out of 7.
        </p>
      </li>
      <li class="text-box text-box-clamp slide-in-left-d1 no-bullet shakeable">
        <p class="bullet-text">
          <strong>Adept in dynamic web development</strong>, experienced in
          creating dynamic and responsive websites and applications.
        </p>
      </li>
      <li class="text-box text-box-clamp slide-in-left-d2 no-bullet shakeable">
        <p class="bullet-text">
          <strong>Proactive problem-solver</strong> with a knack for identifying
          innovative solutions to complex challenges.
        </p>
      </li>
      <li class="text-box text-box-clamp slide-in-left-d3 no-bullet shakeable">
        <p class="bullet-text">
          <strong>Committed to continuous self-improvement and learning</strong
          >, actively seeking out new challenges to expand my skill set and
          knowledge base.
        </p>
      </li>
    </ul>

    <h2
      class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
    >
      Education
    </h2>
    <ul class="bullet-list">
      <li class="text-box text-box-clamp no-bullet shakeable">
        <p class="bullet-text slide-in-left">
          <strong>Bachelor of Information Technology with Distinction</strong>
        </p>
        <p class="bullet-text slide-in-left-d1">
          Federation University Australia, 2021 - 2023
        </p>
        <br />
        <p class="bullet-text slide-in-left-d2">
          <strong>GPA:</strong> 6.9/7
        </p>
        <p class="bullet-text slide-in-left-d3">
          <strong>Key subjects:</strong> Software engineering, dynamic web development,
          data analytics, data structures & algorithms, IT project management.
        </p>
      </li>
    </ul>
    <h2
      class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
    >
      Certifications
    </h2>
    <ul class="bullet-list">
      <li class="text-box text-box-clamp no-bullet shakeable">
        <p class="bullet-text slide-in-left">
          <strong
            ><a
              href="https://www.credly.com/badges/45d8247f-f99d-4edf-b504-ca71eb85772f/linked_in_profile"
              target="_blank">Introduction to Cybersecurity</a
            ></strong
          >
        </p>
        <p class="bullet-text slide-in-left-d1">
          CISCO Networking Academy, 2022
        </p>
        <br />
        <p class="bullet-text slide-in-left-d2">
          <strong>Key topics:</strong> Cybersecurity fundamentals, network security,
          cryptography, security operations.
        </p>
      </li>
    </ul>
    <section id="projects" class="resume-section">
      <h2
        class="secondary-title shakeable slide-in-bottom title-black-bg uppercase"
      >
        Projects
      </h2>
      {
        allProjects.map((project, index) => (
          <ProjectSectionPage
            title={project.data.title}
            info={project.data.info}
            tags={project.data.tags}
            blogLink={project.data.blogLink}
            extLink={project.data.extLink}
            image={project.data.image}
            imgAlt={project.data.imgAlt}
            imgLink={project.data.imgLink}
            nextBtn={index !== allProjects.length - 1}
            prevBtn={index !== 0}
            hidden={index !== 0}
            endBtn={index === allProjects.length - 1}
          />
        ))
      }
    </section>

    <section id="experience" class="resume-section"></section>

    <section id="education" class="resume-section"></section>

    <section id="skills" class="resume-section"></section>

    <section id="contact" class="resume-section"></section>
  </section>
  <style>
    .resume-container {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      margin: 0 auto;
      max-width: 800px;
      background-color: var(--secondary);
    }

    /* Each section designed to look like a Google docs page */
    section {
      height: 100svh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      margin: 1rem 0;
      padding: 1rem;
      border: 1px solid var(--accent-light);
      background-color: var(--background-light);
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    }

  </style>
</div>
