---
const { icon, invert, platform, username } = Astro.props;
---

<div
  class={invert
    ? "footer-logo-box invert slide-in-bottom"
    : "footer-logo-box slide-in-bottom"}
>
  <div class="mr-2 icon slide-in-left">
    <a href={`https://www.${platform}.com/${username}`} target="_blank">
      <img src={icon.src} alt={platform} />
    </a>
  </div>
  <div class="link slide-in-right">
    <a href={`https://www.${platform}.com/${username}`} target="_blank"
      >{platform}</a
    >
  </div>
</div>

  <style>
    a {
      color: var(--secondary);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }

    .footer-logo-box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      border: 0.125rem solid var(--accent);
      background-color: var(--accent);
      text-decoration: none;
      text-align: center;
      font-size: var(--font-size-4);
      font-weight: 600;
      cursor: pointer;
      box-shadow: 6px 6px 0px var(--accent-transparent);
      transition: all 0.2s ease-in-out;
    }

    .footer-logo-box:hover {
      background-color: var(--secondary);
      box-shadow: 3px 3px 0px var(--accent-color-transparent);
      transform: translate(2px, 2px);
    }

    .footer-logo-box:hover a {
      color: var(--accent);
    }

    .footer-logo-box.invert:hover img {
      filter: invert(1);
    }

    .mr-2 a {
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: 768px) {
      .link {
        display: none;
      }

      .footer-logo-box {
        padding: 0.5rem;
      }
      .icon a {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  </style>
