---
/**
 * @name ImgTextSectionFull
 * @desc A simple component to display an image and text side by side.
 * @param {string} id - The id of the component.
 * @param {string} title - The title of the component.
 * @param {boolean} reverse - Whether to reverse the order of the image and text.
 * @param {string} imgSrc - The source of the image.
 * @param {string} imgAlt - The alt text of the image.
 */
interface Props {
  id: string;
  title: string;
  reverse?: boolean;
  imgSrc?: string;
  imgAlt?: string;
  imgLink?: string;
}

const { id = "", title = "", reverse = false, imgSrc = "", imgAlt = "", imgLink="" } = Astro.props;
---

<section id={id}>
  <h2 class="secondary-title show-cursor shakeable">{title}</h2>
  <div class={reverse ? "flex-columns-reverse" : "flex-columns"}>
    <div class={reverse ? "slide-in-right text-box" : "slide-in-left text-box"}>
      <!-- Text/buttons etc inserted here -->
      <slot />
    </div>
    <!-- <div class={reverse ? "slide-in-left image-box" : "slide-in-right image-box"}>
      <img src={imgSrc} alt={imgAlt} />
    </div> -->
    <a class={reverse ? "slide-in-left image-box" : "slide-in-right image-box"}href={imgLink} target="_blank">
      <img class={reverse ? "slide-in-left" : "slide-in-right"} src={imgSrc} alt={imgAlt} />
    </a>
  </div>
</section>
