---
/**
 * @name ImgTextSectionFull
 * @desc A simple component to display an image and text side by side.
 * @param {string} id - The id of the component.
 * @param {string} title - The title of the component.
 * @param {boolean} reverse - Whether to reverse the order of the image and text.
 * @param {string} imgSrc - The source of the image.
 * @param {string} imgAlt - The alt text of the image.
 */
interface Props {
  id: string;
  title: string;
  reverse?: boolean;
  imgSrc?: string;
  imgAlt?: string;
}

const { id = "", title = "", reverse = false, imgSrc = "", imgAlt = "" } = Astro.props;
---

<section id={id}>
  <h2 class="secondary-title show-cursor">{title}</h2>
  <div class={reverse ? "flex-columns-reverse" : "flex-columns"}>
    <div class="text-box">
      <!-- Text/buttons etc inserted here -->
      <slot />
    </div>
    <div class="image-box">
      <img class="show-cursor" src={imgSrc} alt={imgAlt} />
    </div>
  </div>
</section>
