---
import Layout from "./Layout.astro";
import "../styles/blog.css";

const { frontmatter } = Astro.props;
const tags = frontmatter.tags;
---

<Layout title={frontmatter.title}>
  <main class="blog">
    <article class="blog-article">
      <h1 class="blog-h1">{frontmatter.title}</h1>
      <p class="blog-date">{frontmatter.pubDate.slice(0, 10)}</p>
      <p class="blog-author">Written by: {frontmatter.author}</p>
      <img class="blog-image"
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
      <p class="blog-description"><em>{frontmatter.description}</em></p>
      <slot />
      <div class="tags">
        {
          tags.map((tag) => (
            <p class="tag">
              <a href={`/tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
    </article>
  </main>
</Layout>
